---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the proyect">
  <h1>Acerca del proyecto</h1>

  <p>El proyecto SpaceX Launches es una demo para el curso de Astro</p>
</Layout>
